      *{
        margin: 0;
        padding: 0;
        transition:all 0.2s linear;
        text-transform: capitalize;
       }
        body{

            font-family: sans-serif;
            background-color: black;  
       }
    h1{
        color:white;
        font-size: 60px;
        text-align: center;
        margin-top: 35px;
    }
    
    span{
        color:red;
        font-family: cursive;
        font-size: 5rem;
    }
    .container{
       
        margin-top: 50px;
        max-width:550px; 
        padding: 5px 500px;
        color:white;
     
    }
    h2{
        color:white;
        text-align:center;
        margin-bottom: 2rem auto;
        font-size: 2rem;
      
    }
    
    .form{
        margin-bottom: 1.5rem;
    }
    .form label{
        display:block;
        font-size:1.1rem;
        margin-bottom:0.5rem;
    }
   .form textarea{
        width:100%;
        padding:0.75rem;
        border: 1px solid red;
        border-style:outset;
        resize: vertical;
    }
    .form input{
        width:100%;
        padding:0.75rem;
        border: 1px solid red;
        border-style:outset;
    }
    .submit_btn{
        display:block;
        width:100%;
        background-color: red;
        color:black;
        border: none;
        padding: 1rem;
        font-size: 1.2rem;
        cursor:pointer;
        border-radius:30px;

    }
    .submit_btn:hover{
        background-color: rgb(115, 13, 13);
        box-shadow: 0 4px 8px red;
    }
    .footer_section{
        margin:10px;
        flex: 1;
        min-width: 200px;
    }
    .footer_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
    color:white;
 }
 .footer_section h4{
    margin-bottom:10px;
 }
.footer_section p{
    margin: 5px;
}
..footer_section ul{
    margin: 5px;
}
.socialmedia_section ul{
list-style: none;
padding: 5px;
}
.socialmedia_section ul li{
    display: inline;
    margin-right:15px;
}
.socialmedia_section ul li a{
    color:blue;
    text-decoration: none;
}
.copyright{
    text-align:center;
    flex-basis:100%;
    margin-top:20px;
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
  