*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    html,body{
        font-family: sans-serif;
        font-weight: 300;
        line-height: 1.4;
    }
    ul{
        list-style: none;
    }
    a{
        text-decoration: none;
        color:white;
    }
    .container{
        max-width: 62.5rem;
        margin: 0 auto;
    }
    header{
        background-color: black;
        position: sticky;
        top: 0;
        z-index: 100;
        box-shadow: 0.3125rem 0.3125rem 0.3125rem grey;
        height:9.2rem;
        justify-content: space-around;
        align-items: center;
    
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.25rem;
        color: white;
    }
    nav ul{
        display: flex;
        gap: 1.25rem;
    }
    nav ul li{
        border-bottom: 0.125rem solid transparent;
        transition: 0.2s ease-in;
    }
    nav ul li:hover{
        border-bottom: 0.125rem solid white;
        transition: 0.2s ease-in;
        cursor: pointer;
    }
    
    
    header nav img{
        width:9.375rem;
        cursor: pointer;
    }
    main{
        height: 1000px;
        background-image: url(Images/b6.jpg);
        background-position: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        color:white;
        text-align: center;
        padding:1.5rem 0;
    }
    span{
        color:palevioletred;
        font-family: cursive;
        font-size: 5rem;
    }
    .container{
        max-width:960px; 
        padding: 0 1.5rem;
    }
    h2{
        text-align:center;
        margin-bottom: 2rem auto;
        font-size: 2rem;
    }
    .form{
        margin-bottom: 1.5rem;
    }
    .form label{
        display:block;
        font-size:1.1rem;
        margin-bottom:0.5rem;
    }
   .form textarea{
        width:100%;
        padding:0.75rem;
        border: 1px solid palevioletred;
        border-style:outset;
        resize: vertical;
    }
    .form input{
        width:100%;
        padding:0.75rem;
        border: 1px solid palevioletred;
        border-style:outset;
    }
    .submit_btn{
        display:block;
        width:100%;
        background-color: palevioletred;
        color:black;
        border: none;
        padding: 1rem;
        font-size: 1.2rem;
        cursor:pointer;
        border-radius:30px;

    }

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
  