*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.logo{
    font-size:2rem;
    color:white;
    letter-spacing: 0.08rem;
}
.logo span{
    font-size:2.5rem;
    color:red;
    font-family: cursive;
}
.navbar{

    display:flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0;
    left:50%;
    transform: translatex(-50%);
    width:90%;
    height:12vh;

}
.navlist{
    display: flex;
    gap:2rem;
   
}
.navlist li{
    list-style: none;
  
}
.navlist li a{
    text-decoration: none;
    color:white;
    font-size: 1rem;
    letter-spacing: 0.08rem;
}
.hero{
    display:flex;
}
.hero .left{
    background-color:black;
}

.hero .right{
    background-color: red;
}
.hero .hero_split{
    min-height:100vh;
    width: 50%;
}










































/* 
.footer_section{
    margin:10px;
    flex: 1;
    min-width: 200px;
}
.footer_container{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding: 20px;
background-color: black;
color:white;
}
.footer_section h4{
margin-bottom:10px;
}
.footer_section p{
margin: 5px;
}
.footer_section ul{
margin: 5px;
}
.socialmedia_section ul{
list-style: none;
padding: 5px;
}
.socialmedia_section ul li{
display: inline;
margin-right:15px;
}
.socialmedia_section ul li a{
color:blue;
text-decoration: none;
}
.copyright{
text-align:center;
flex-basis:100%;
margin-top:20px;
} */
